.all-books-page-header {
    display: flex;
}

.all-books-page-header .input-group {
    padding: 15px 2% 10px 1% !important;
}

.all-books-page-header .input-group img {
    padding-left: 2%;
}


.all-books-page-header div h1 {
    padding-top: 15px;
}

.book-status-color-available {
    color: #679436;
    font-weight: bold;
    display: inline
}

.book-status-color-booked {
    color: #05668D;
    font-weight: bold;
    display: inline
}

.book-status-color-taken {
    color: #f07492;
    font-weight: bold;
    display: inline
}